<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside th:fragment="aside" class="navegacion">
        <a title="Liga" th:href="@{/liga}">
            <span role="none" class="material-symbols-outlined">trophy</span>
            <span role="none">liga</span>
        </a>
        <a title="Partido" th:href="@{/partido}">
            <span role="none" class="material-symbols-outlined">sports</span>
            <span role="none">partido</span>
        </a>
        <a title="Club" th:href="@{/club}">
            <span role="none" class="material-symbols-outlined">groups</span>
            <span role="none">club</span>
        </a>
        <a title="Campo" th:href="@{/campo}">
            <span role="none" class="material-symbols-outlined">stadium</span>
            <span role="none">campo</span>
        </a>
        <a title="Jugador" th:href="@{/jugadores}">
            <span role="none" class="material-symbols-outlined">directions_run</span>
            <span role="none">jugador</span>
        </a>
        <a title="Usuarios" sec:authorize="hasRole('ADMIN')" th:href="@{/usuario}">
            <span role="none" class="material-symbols-outlined">diversity_3</span>
            <span role="none">usuarios</span>
        </a>
    </aside>
</body>
</html>