<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside th:fragment="colaboracion">
        <section>
            <a href="https://rfef.es/es"><img src="/img/española.svg"></a>
            <a href="https://www.futgal.es/pnfg/"><img src="/img/gallega.png"></a>
            <a href="https://www.fcf.cat/"><img src="/img/catalana.png"></a>
            <a href="https://www.rffm.es/"><img src="/img/madrilena.png"></a>
            <a href="https://www.rfaf.es/pnfg/"><img src="/img/andaluza.png"></a>
            <a href="https://www.asturfutbol.es/pnfg/"><img src="/img/asturiana.png"></a>
        </section>
    </aside>
</body>
</html>