<!DOCTYPE html>
<html lang="es">

<head>
</head>

<body>

    <header th:fragment="header">

        <a title="Contacto" th:href="@{/contacto}" class="icono">
            <span role="none" class="material-symbols-outlined">call</span>
            <span role="none">contacto</span>
        </a>
        <a title="Quienes somos" th:href="@{/quienessomos}" class="icono">
            <span role="none" class="material-symbols-outlined">help</span>
            <span role="none">quienes somos</span>
        </a>
        <a title="Inicio" th:href="@{/}" class="logo">
            <img role="none" src="/img/logo.png">
            <span role="none">national football</span>
            <span role="none">competition</span>
            <img role="none" src="/img/logo.png">
        </a>
        <a title="Iniciar sesión" sec:authorize="!isAuthenticated()" th:href="@{/login}" class="icono">
            <span role="none" class="material-symbols-outlined">login</span>
            <span role="none">iniciar sesion</span>
        </a>
        <form title="Cerrar sesión" role="link" method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
            <button role="none" class="icono">
                <span role="none" class="material-symbols-outlined">logout</span>
                <span role="none">cerrar sesion</span>
            </button>

        </form>
        <a title="Registrarse" sec:authorize="!isAuthenticated()" th:href="@{/usuario/registro}" class="icono">
            <span role="none" class="material-symbols-outlined">how_to_reg</span>
            <span role="none">registrarse</span>
        </a>
        <a title="Mi cuenta" sec:authorize="isAuthenticated()" th:href="@{/usuario/perfil}" class="icono">
            <span role="none" class="material-symbols-outlined">person</span>
            <span role="none">mi cuenta</span>
        </a>

    </header>
    
</body>

</html>