<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Editar Usuario')}">
</head>

<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    <main>
        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>

        <section>
            <div>
            <h2>
                <span class="material-symbols-outlined">diversity_3</span>
                <span>USUARIOS</span>
                <span class="material-symbols-outlined">diversity_3</span>
            </h2>                 
            </div>
   
            <form th:action="@{/usuario/editar}" method="post" th:object="${usuarioForm}">
                DNI: <input type="text" th:field="*{dni}" th:readonly="*{dni}!=null"><br>
                Nombre: <input type="text" th:field="*{nombre}"><br>
                Contraseña: <input type="password" th:field="*{contrasena}"><br>
                Email: <input type="email" th:field="*{email}"><br>
                Rol: <input type="text" th:field="*{rol}"><br>
                <input type="submit">
            </form>            
        </section>
        <aside th:remove="tag" th:insert="~{fragmentos/colaboracion.html :: colaboracion}"></aside>
    </main>


    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>