<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Nuevo Usuario')}">
</head>
<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    <main>
        <section></section>
        <form th:action="@{/usuario/nuevo}" method="post" th:object="${usuarioForm}">
            DNI: <input type="text" th:field="*{dni}" th:readonly="*{dni}!=null"><br>
            Nombre: <input type="text" th:field="*{nombre}"><br>
            Contraseña: <input type="password" th:field="*{contrasena}"><br>
            Email: <input type="email" th:field="*{email}"><br>
            Rol: <input type="text" th:field="*{rol}"><br>
            <input type="submit">
        </form>
    </main>
    

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>