<!DOCTYPE html>
<html lang="es">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Contacto')}"></head>

<body>

    <header th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    
    <main>

        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>
        
        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">call</span>
                    <span>contacto</span>
                    <span class="material-symbols-outlined">call</span>
                </h2>
            </div>
            <form th:action="@{/contacto/submit}" method="post" th:object="${formulario}">
                <label for="nombre">Nombre: </label>
                <input type="text" th:field="*{nombre}" required>
                <label for="mail">Email: </label>
                <input type="text" th:field="*{mail}" required>
                <label for="asunto">Asunto: </label>
                <input type="text" th:field="*{asunto}" required>
                <label for="mensaje">Mensaje: </label>
                <textarea th:field="*{mensaje}" placeholder="Escriba su mensaje" required></textarea>
                <span></span>
                <span>
                    <span th:if="${error}" th:remove="tag">Debes cubrir todos los campos</span>
                </span>
                <span></span>
                <input type="submit">
            </form>
        </section>

        <aside th:remove="tag" th:insert="~{fragmentos/colaboracion.html :: colaboracion}"></aside>
    
    </main>

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}"></footer>

</body>

</html>