<!DOCTYPE html>
<html lang="es">
    <head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Politica de cookies')}"> </head>
    <body>
        <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
        <main class="legal">
            <h1>Política de Cookies</h1>

        <h2>1. Introducción</h2>
        <p>En NATIONAL FOOTBALL COMPETITION, valoramos la privacidad de nuestros
            usuarios y nos comprometemos a protegerla. Esta política de cookies
            explica qué son las cookies, cómo las utilizamos en nuestro sitio web
            y cómo puedes gestionarlas según tus preferencias.</p>

        <h2>2. ¿Qué son las Cookies?</h2>
        <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo
            (ordenador, tableta, smartphone) cuando visitas ciertos sitios web. Estas
            cookies permiten que el sitio web reconozca tu dispositivo y recuerde información
            sobre tu visita, como tus preferencias y acciones anteriores.</p>

        <h2>3. Tipos de Cookies que Utilizamos</h2>
        <p>En nuestro sitio web solo utilizamos 
            <strong>cookies funcionales</strong>.
            Estas cookies son esenciales para recordar las elecciones que haces
            (como tu nombre de usuario, idioma o la región en la que te encuentras)
            y para proporcionarte características mejoradas y más personalizadas.</p>

        <h2>4. ¿Cómo Utilizamos las Cookies?</h2>
        <p>Utilizamos cookies funcionales para varias finalidades:</p>
        <ul>
            <li>
                <strong>Personalización:</strong>
                Para recordar tus preferencias y proporcionarte una
                experiencia más personalizada.</li>
            <li>
                <strong>Facilidad de Uso:</strong>
                Para asegurarnos de que el sitio web funcione de manera eficiente y
                se mantengan tus configuraciones durante las visitas.</li>
        </ul>

        <h2>5. Gestión de Cookies</h2>
        <p>Puedes controlar y/o eliminar cookies como desees. Para obtener más detalles, visita
            <a href="https://www.aboutcookies.org" target="_blank">aboutcookies.org</a>.
            Puedes eliminar todas las cookies que ya están en tu ordenador y configurar
            la mayoría de los navegadores para que no se instalen. Sin embargo, si lo haces,
            es posible que tengas que ajustar manualmente algunas preferencias cada vez que
            visites un sitio y que algunos servicios y funcionalidades no funcionen.</p>

        <h2>6. Cambios en la Política de Cookies</h2>
        <p>Nos reservamos el derecho a actualizar esta política de cookies en cualquier momento.
            Te recomendamos revisar esta página periódicamente para estar al tanto de
            cualquier cambio. La fecha de la última actualización se indicará al final
            de este documento.</p>

        <h2>7. Contacto</h2>
        <p>Si tienes alguna pregunta sobre nuestra política de cookies, no dudes en
            contactarnos a través de 
            <a href="mailto:oscaraaron.pv@gmail.com">correo electrónico</a>
            o <a href="tel:+34600645414"></a>600645414.</p>

        <p>
            <strong>Fecha de la última actualización:</strong>
            25 de Mayo de 2024</p>
        </main>
        <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
        </footer>
    </body>
</html>