<!DOCTYPE html>
<html lang="es">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Copyright')}"></head>

<body>

    <header th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    
    <main class="legal">

        <h2>Aviso Legal de Derechos de Autor</h2>
        <p>© 2024 NATIONAL FOOTBALL COMPETITION. Todos los derechos reservados.</p>
        <p>Este sitio web y todo su contenido, incluyendo pero no limitado a, textos,
            gráficos, logotipos, iconos, imágenes, clips de audio, descargas digitales,
            compilaciones de datos y software (colectivamente, el "Contenido"), son
            propiedad de NATIONAL FOOTBALL COMPETITION o de sus proveedores de contenido
            y están protegidos por leyes de derechos de autor, leyes de marcas
            registradas y otras leyes aplicables de propiedad intelectual.</p>
        <p>La compilación de todo el contenido de este sitio web es propiedad
            exclusiva de NATIONAL FOOTBALL COMPETITION, con derechos de autor
            sobre dicha recopilación por NATIONAL FOOTBALL COMPETITION, y está
            protegida por leyes internacionales de derechos de autor. Todos los
            software utilizados en este sitio web son propiedad de NATIONAL FOOTBALL
            COMPETITION o de sus proveedores de software y están protegidos por leyes
            internacionales de derechos de autor.</p>
        <p>Todos los derechos no expresamente otorgados en estos términos están
            reservados. Ningún contenido de este sitio web puede ser reproducido,
            distribuido, transmitido, exhibido, publicado, o transmitido de cualquier
            otra forma sin el previo consentimiento por escrito de NATIONAL FOOTBALL
            COMPETITION, excepto según se establece en las siguientes condiciones.
            Usted puede imprimir y descargar extractos del Contenido para su propio
            uso no comercial, siempre que se mantengan intactas todas las advertencias
            de derechos de autor y de propiedad.</p>
        <p>Usted no puede, sin la autorización previa por escrito de NATIONAL
            FOOTBALL COMPETITION, distribuir o explotar comercialmente el Contenido.
            Tampoco puede transmitirlo o almacenarlo en cualquier otro sitio web o en
            otra forma de sistema de recuperación electrónica. Usted no puede declarar
            ni presentar a terceros que los contenidos de este sitio web son de su
            propiedad. Está prohibido cualquier uso ilícito de los Contenidos de este
            sitio web para cualquier propósito.</p>
        <p>NATIONAL FOOTBALL COMPETITION no garantiza que el uso de cualquier contenido
            que aparezca en este sitio web no infringirá los derechos de terceros no
            afiliados a NATIONAL FOOTBALL COMPETITION. Todos los demás nombres de
            productos, marcas y logotipos mencionados en este sitio web son propiedad
            de sus respectivos dueños.</p>
        <p>Este sitio web puede contener enlaces a otros sitios web que son operados
            por terceros. NATIONAL FOOTBALL COMPETITION no controla estos sitios y no
            es responsable de su contenido ni de su cumplimiento con las leyes de
            privacidad o de derechos de autor. La inclusión de cualquier enlace no
            implica el respaldo por parte de NATIONAL FOOTBALL COMPETITION del
            sitio vinculado.</p>
        <p>NATIONAL FOOTBALL COMPETITION se reserva el derecho de modificar,
            suspender o descontinuar, temporal o permanentemente, el sitio web
            o cualquier parte del mismo, con o sin previo aviso, y sin responsabilidad
            para con usted o cualquier tercero. NATIONAL FOOTBALL COMPETITION puede
            en cualquier momento revisar estos términos de uso actualizando esta
            publicación. Usted está obligado por dichas revisiones y por lo tanto
            debe visitar periódicamente esta página para revisar los términos
            de uso actuales a los cuales está obligado.</p>
        <p>Para cualquier consulta sobre el uso del contenido de este sitio web,
            por favor contacte a nuestro departamento legal en:
            <a href="mailto:oscaraaron.pv+legal@gmail.com">oscaraaron.pv+legal@gmail.com</a>.
        </p>

    </main>

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}"></footer>

</body>

</html>