<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Jugador')}">
</head>
<head>
    <script src="/js/jugadores.js" type="module"></script>
</head>

<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    <main>
        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>
        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">directions_run</span>
                    <span>JUGADORES</span>
                    <span class="material-symbols-outlined">directions_run</span>
                </h2>
                <table class="tabla">
                    <thead>
                        <th class="orden Dni">Dni</th>
                        <th class="orden Nombre">Nombre</th>
                        <th class="orden Ubicacion">Ubicacion</th>
                        <th class="orden Club">Club</th>
                        <th sec:authorize="hasRole('ADMIN')" colspan="2">CRUD</th>
                    </thead>
                    <tbody class="contenidoTabla">
                    </tbody>
                </table>
            </div>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/jugadores/nuevo}">Nuevo jugador</a><br>
        </section>
    </main>
    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>