/* XS -- vista de móvil, universal */
@media screen,
print {
    * {
        box-sizing: border-box; /* modelo de caja */
    }

    body {
        margin: 0;
        text-transform: uppercase;
        font-family: 'Terminator Cyr', sans-serif;
        background-image: url(../img/fondo_proy.png);
        background-repeat: no-repeat;
        background-size: cover; /* la imagen de fondo cubre el cuerpo completamente */
        background-attachment: fixed;
        background-color: rgb(80, 150, 80);
        background-blend-mode: soft-light; /* combina el color de fondo con la imagen */
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column; /* establece el flex en columnas */
        /* bug de Chrome*/
        max-width: 100vw;
        overflow-x: hidden;
        /* --- */
    }

    section>form,
    main>aside:last-child {
        font-family: 'Anonymous Pro', monospace;
        font-size: 25px;
    }

    div:has(>span.material-symbols-outlined) {
        display: grid;
        grid-template-columns: auto 1fr; /* define una estructura de columnas */

        >span:nth-child(2) {
            margin: auto auto auto .5rem;
            font-size: 0.9em;
        }
    }
}

/* S -- ancho de 576px */
@media screen and (min-width: 36rem) {}

/* M -- ancho de 768px */
@media screen and (min-width: 48rem) {}

/* L -- ancho de 992px */
@media screen and (min-width: 62rem) {}

/* XL -- ancho de 1200px */
@media screen and (min-width: 75rem) {}

/* XXL -- -- ancho de 1408px*/
@media screen and (min-width: 88rem) {}