/* XS -- vista de móvil, universal */
@media screen,
print {
    .carrusel {
        >div:first-child {
            display: flex;
            justify-content: center;

            >video {
                display: block;
                aspect-ratio: 16/9; /* aspecto de video 16/9 */
                max-width: 100%; /* maximo de ancho del video dentro del contenedor */
                margin: 0 1rem 1rem 0;
            }

            >div:has(button) {
                display: flex;
                margin: auto;

                >button {
                    position: relative;
                    padding: 0;
                    z-index: 2;
                    border: unset;
                    outline: unset; /* elimina el contorno del boton */
                    background-color: transparent;
                    font-size: 50px;
                    color: white;
                    transition: color .7s;
                }

                >button:hover {
                    color: black;
                    transition: color .7s;
                }
            }
        }

        >div:last-child {
            display: flex;
            justify-content: center; /* dentra el contenido horizontalmente */
            gap: .25rem;
            color: white;
            transition: color .7s;

            & input {
                display: none; /* oculta los elementos input */
            }

            >label:has(input:checked) {
                color: black;
            }
        }
    }
}

/* S -- ancho de 576px */
@media screen and (min-width: 36rem) {}

/* M -- ancho de 768px */
@media screen and (min-width: 48rem) {}

/* L -- ancho de 992px */
@media screen and (min-width: 62rem) {}

/* XL -- ancho de 1200px */
@media screen and (min-width: 75rem) {}

/* XXL -- -- ancho de 1408px*/
@media screen and (min-width: 88rem) {}