/* XS -- vista de móvil, universal */
@media screen,
print {
    .filtro {
        display: grid;
        flex: 1; /* permite que el contenedor ocupe el esapcio disponible */
        gap: 1rem; /* espacio entre los elementos de la cuadricula */
        margin: 1rem 0;

        >span {
            margin: auto;
        }

        >div {
            display: flex;
            flex-direction: column; /* organiza los elementos en una columna */
            gap: 1rem;

            >span {
                display: block;
                margin: auto auto 0 auto;
            }

            >select {
                display: block;
                margin: 0 auto auto auto;
            }
        }
    }
}

/* S -- ancho de 576px */
@media screen and (min-width: 36rem) {}

/* M -- ancho de 768px */
@media screen and (min-width: 48rem) {}

/* L -- ancho de 992px */
@media screen and (min-width: 62rem) {
    .filtro {
        grid-template-columns: 1fr 1fr 1fr; /* cuadricula con 3 columnas */
        grid-template-rows: auto auto; /* cuadricula con 2 filas */
        gap: unset; /* elimina el espacio entre elementos de la cuadricula */

        >span {
            display: block;
            width: 0;
            margin: auto;
            grid-column: 1 / -1; /* el span ocupa las columnas disponibles */
        }
    }
}

/* XL -- ancho de 1200px */
@media screen and (min-width: 75rem) {
    .filtro {
        grid-template-columns: 1fr 1fr 1fr auto; /* cuadricula con 3 columnas */
        grid-template-rows: unset; /* elimina la definicion de filas automaticas */

        >span {
            grid-column: unset; /* elimina la configuracion de columnas ocupadas por el span */

            >button {
                position: relative;
                left: 1rem;
                top: 1rem;
            }
        }
    }
}

/* XXL -- -- ancho de 1408px*/
@media screen and (min-width: 88rem) {}