/* XS -- vista de móvil, universal */
@media screen,
print {
    header {
        color: #FAC2A6;
        background-color: black;
        display: grid; /* cuadricula */
        grid-template-columns: repeat(7, auto); /* 7 columnas de tamaño automatico */
        gap: .25rem;
        font-size: 17px;
        padding: 0.5rem;

        >form>button {
            background-color: inherit;
            border: none;
            outline: none; /* elimina el contorno */
        }

        >a,
        >form>button {
            display: flex;
            color: inherit;
            font: inherit;
            cursor: pointer; /* cambia el cursor a un puntero */
            text-decoration: none;

            >* {
                margin: auto 0;
            }

            >span:last-child {
                margin-left: .5rem;
            }
        }

        >.icono {
            >span:first-of-type {
                font-size: 2rem;
            }

            >:last-child {
                display: none;
            }
        }

        >form>button.icono {
            >span:first-of-type {
                font-size: 2rem;
            }

            >:last-child {
                display: none;
            }
        }

        >.logo {
            grid-column: 3 / 6; /* hace que el .logo ocupe las 3 columnas a 6 de la cuadricula */

            >img {
                aspect-ratio: 1/1; /* aspecto de imagen 1:1 (cuadrada) */
                height: 4rem;
            }

            >span {
                display: none; /* oculta los span */
            }

            >img:last-of-type {
                display: none; /* oculta la imagen */
            }
        }

        >* {
            margin: auto; /* centrado vertical de todos los hijos del encabezado */
        }
    }
}

/* S -- ancho de 576px */
@media screen and (min-width: 36rem) {}

/* M -- ancho de 768px */
@media screen and (min-width: 48rem) {
    header {
        >.logo {
            display: grid;
            grid-template-columns: auto auto auto; /* 1 cuadricula con 3 columnas */
            grid-template-rows: auto auto; /* 2 filas automaticas */
            column-gap: 0.5rem; /* espacio entre columnas */
            padding: 0.5rem 0;

            >:first-child,
            >:last-child {
                grid-row: 1/-1; /* el primer y ultimo hijo ocupan ambas filas */
            }

            >span:first-of-type {
                grid-row: 1 / 2; /* coloca el primer span en la primera fila */
                grid-column: 2 / 3; /* coloca el primer span en la primera columna */
            }

            >span {
                display: unset; /* muestra el span */
                text-align: center;
            }

            >img:last-of-type {
                display: unset; /* muestra la ultima imagen */
            }
        }
    }
}

/* L -- ancho de 992px */
@media screen and (min-width: 62rem) {}

/* XL -- ancho de 1200px */
@media screen and (min-width: 75rem) {}

/* XXL -- -- ancho de 1408px*/
@media screen and (min-width: 88rem) {
    header {
        >form>button.icono>:last-child,
        >.icono>:last-child {
            display: unset; /* muestra el ultimo hijo de .icono */
        }

        >.logo {
            column-gap: 4rem;
            font-size: 23px;
        }
    }
}