/* XS -- vista de móvil, universal */
@media screen,
print {
    .navegacion {
        display: flex;
        justify-content: space-evenly; /* igual espacio entre elementos */
        transition: .7s color;
        width: 100svw;
        padding: 0.5rem;
        position: sticky; /* el contenedor .navegacion permanece pegado a la parte superior del scroll */
        top: 0;

        >a {
            display: block !important; /* fuerza el display block para los enlaces */
            color: white;
            text-decoration: none;
            font-size: 1.3rem;

            >span:last-child {
                display: none; /* oculta el ultimo span */
                font-size: 2rem;
            }
        }

        >a:hover {
            color: black;
            transition: .7s color;
        }

        & .seleccionada {
            color: black;
        }
    }
}

/* S -- ancho de 576px */
@media screen and (min-width: 36rem) {
    .navegacion .material-symbols-outlined {
        font-size: 2rem;
    }
}

/* M -- ancho de 768px */
@media screen and (min-width: 48rem) {
    .navegacion .material-symbols-outlined {
        font-size: 2.25rem;
    }
}

/* L -- ancho de 992px */
@media screen and (min-width: 62rem) {
    .navegacion .material-symbols-outlined {
        font-size: 2.75rem;
    }
}

/* XL -- ancho de 1200px */
@media screen and (min-width: 75rem) {}

/* XXL -- -- ancho de 1408px*/
@media screen and (min-width: 88rem) {
    .navegacion {
        display: grid;
        padding-left: 20%;
        width: unset; /* resetea el ancho del contenedor */
        max-height: 90vh;
        justify-content: left;

        >a {
            display: grid;
            margin: auto 0; /* centrado vertical */

            >span:first-child {
                font-size: 1.4em;
            }

            >span:last-child {
                display: unset; /* muestra el ultimo span dentro del enlace */
            }
        }
    }
}