<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Campo')}">
</head>

<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    <main>
        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>
        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">stadium</span>
                    <span>campo</span>
                    <span class="material-symbols-outlined">stadium</span>
                </h2>
                <table class="tabla">
                    <thead>
                        <th>Nombre</th>
                        <th>Ubicacion</th>
                        <th>Club</th>
                        <th sec:authorize="hasRole('ADMIN')" colspan="2">CRUD</th>
                    </thead>
                    <tbody>
                        <tr th:each="campo : ${lista}">
                            <td th:text="${campo.nombre}"></td>
                            <td th:text="${campo.ubicacion}"></td>
                            <td th:text="${campo.club.nombre}"></td>
                            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/campo/editar/{nombre}(nombre = ${campo.nombre})}">Editar</a></td>
                            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/campo/borrar/{nombre}(nombre = ${campo.nombre})}">Borrar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a th:href="@{/campo/nuevo}">Nuevo campo</a><br>
        </section>
        
    </main>

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>