<!DOCTYPE html>
<html lang="es">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('National Football Competition')}">
</head>

<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>

    <main>
        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>

        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">density_medium</span>
                    <span>NOVEDADES</span>
                    <span class="material-symbols-outlined">density_medium</span>
                </h2>
                <div class="carrusel">
                    <div>
                        <div>
                            <button class="material-symbols-outlined">navigate_before</button>
                        </div>
                        <img src="img/Partido_Jornada.gif">
                        <div>
                            <button class="material-symbols-outlined">navigate_next</button>
                        </div>
                    </div>
                    <div>
                        <label class="material-symbols-outlined"> radio_button_checked
                            <input type="radio" checked name="boton">
                        </label>
                        <label class="material-symbols-outlined">
                            <!-- radio_button_unchecked -->
                            radio_button_checked
                            <input type="radio" name="boton">
                        </label>
                        <label class="material-symbols-outlined">
                            <!-- radio_button_unchecked -->
                            radio_button_checked
                            <input type="radio" name="boton">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <aside th:remove="tag" th:insert="~{fragmentos/colaboracion.html :: colaboracion}"></aside>

    </main>

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>