<!DOCTYPE html>
<html lang="es">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('National Football Competition')}">
</head>
<head>
    <script src="/js/carrusel.js" type="module"></script>
</head>
<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>

    <main>
        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>

        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">density_medium</span>
                    <span>NOVEDADES</span>
                    <span class="material-symbols-outlined">density_medium</span>
                </h2>
                <div class="carrusel">
                    <div>
                        <div>
                            <button id="anterior" class="material-symbols-outlined">navigate_before</button>
                        </div>
                        <video id="player" src=""></video>
                        <div>
                            <button id="posterior" class="material-symbols-outlined">navigate_next</button>
                        </div>
                    </div>
                    <div id="videos">
                    </div>
                </div>
            </div>
        </section>

        <aside th:remove="tag" th:insert="~{fragmentos/colaboracion.html :: colaboracion}"></aside>

    </main>

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>