<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Club')}"></head>

<head>
    <script src="/js/clubs.js" type="module"></script>
</head>

<body>

    <header th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    
    <main>

        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>
        
        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">groups</span>
                    <span>CLUB</span>
                    <span class="material-symbols-outlined">groups</span>
                </h2>
                <table class="tabla">
                    <thead>
                        <tr>
                            <th class="orden Codigo">Codigo</th>
                            <th class="orden Nombre">Nombre</th>
                            <th class="orden Liga">Liga</th>
                            <th sec:authorize="hasRole('ADMIN')" colspan="2">CRUD</th>
                        </tr>
                        <tr sec:authorize="hasRole('ADMIN')">
                            <td>
                                <input type="text" placeholder="Codigo" form="nuevo" name="codigo">
                            </td>
                            <td>
                                <input type="text" placeholder="nombre" form="nuevo" name="nombre">
                            </td>
                            <td>
                                <select form="nuevo" name="liga">
                                    <option th:each="liga : ${ligas}" th:value="${liga.codigo}"
                                        th:text="${liga.codigo}"></option>
                                </select>
                            </td>
                            <td colspan="2">
                                <form id="nuevo" th:action="@{/club/nuevo}" method="post" th:object="${clubForm}">
                                    <button>nuevo</button>
                                </form>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="contenidoTabla">
                    </tbody>
                </table>
            </div>
        </section>

        <aside th:remove="tag" th:insert="~{fragmentos/colaboracion.html :: colaboracion}"></aside>
    
    </main>
    
    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}"></footer>

</body>

</html>