<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Editar Partido')}">
</head>

<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    <form th:action="@{/partido/editar}" method="post" th:object="${partidoForm}">
        Codigo: <input type="text" th:field="*{codigo}" th:readonly="*{codigo}!=null"><br>
        Jornada: <input type="text" th:field="*{jornada}"><br>
        Local: <input type="text" th:field="*{local}"><br>
        Visitante: <input type="text" th:field="*{visitante}"><br>
        <input type="submit">
    </form>

    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>