<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">

<head th:remove="tag" th:insert="~{fragmentos/head.html :: head('Liga')}">
</head>

<head>
    <script src="/js/ligas.js" type="module"></script>
</head>

<body>
    <header  th:remove="tag" th:insert="~{fragmentos/Header.html :: header}"></header>
    <main>
        <aside th:remove="tag" th:insert="~{fragmentos/aside.html :: aside}"></aside>
        <section>
            <div>
                <h2>
                    <span class="material-symbols-outlined">trophy</span>
                    <span>LIGA</span>
                    <span class="material-symbols-outlined">trophy</span>
                </h2>
                <table class="tabla">
                    <thead>
                        <tr>
                            <th class="orden Codigo">Codigo</th>
                            <th class="orden CA">Comunidad Autonoma</th>
                            <th class="orden Region">Region</th>
                            <th sec:authorize="hasRole('ADMIN')" colspan="2">CRUD</th>
                        </tr>
                        <tr sec:authorize="hasRole('ADMIN')">
                            <td>
                                <input type="number" min="1" placeholder="Codigo" form="nuevo" name="codigo">
                            </td>
                            <td>
                                <input type="text" placeholder="Comunidad autonoma" form="nuevo" name="comunidadAutonoma">
                            </td>
                            <td>
                                <input type="text" placeholder="Region" form="nuevo" name="region" >
                            </td>
                            <td colspan="2">
                                <form id="nuevo" th:action="@{/liga/nuevo}" method="post" th:object="${ligaForm}">
                                    <button>nuevo</button>
                                </form>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="contenidoTabla">
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer th:remove="tag" th:insert="~{fragmentos/Footer.html :: footer}">
    </footer>
</body>

</html>